body {
  background-color: #f7cac9;
  padding: 30px;
  color: black
  }
nav {
  padding: 30px;
  background-color: #eeac99;
  position: sticky;
  top: 0;
  text-shadow: 1px 1px 0 #444;
}
header {
  padding: 30px;
  height: 70%;
  background-image: url('https://images.unsplash.com/photo-1519415943484-9fa1873496d4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ca427af489b42f69370a86b910c5168f&auto=format&fit=crop&w=750&q=80');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
H1 {
  text-align: center;
}
main {
  padding-top: 15px;
  display: grid;
  grid-template-areas:
    "aside article article"
    "aside footer footer";
}
aside {
  padding: 30px;
  background-color: #f9d5e5;
  color: white;
}
article {
  padding: 30px;
  background-color: white;
  color: black;
}
footer {
  padding: 30px;
  background-color:  #b8a9c9;
  color: white;
}
